:root {
  --background: #282a36;
  --foreground: #eff0eb;
  --red: #ff5c57;
  --green: #5af78e;
  --yellow: #f3f99d;
  --blue: #57c7ff;
  --magenta: #ff6ac1;
  --cyan: #9aedfe;

  --javascript: #f7df1e;
  --typescript: #007acc;
  --node: #8cc84b;
  --react: #01d8ff;
  --html: #e44d26;
  --css: #1472b6;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 12px;
  line-height: 1.5;
  text-align: center;
  background-color: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* headings */
h1,
h2,
h3 {
  color: var(--foreground);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
p {
  font-size: 1em;
}

/* containers */
section {
  margin: 24px 0;
}

/* anchor */
a {
  color: var(--blue);
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: var(--green);
}

/* quote */
blockquote.quote {
  display: inline-flex;
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 1.2em;
  background-color: var(--foreground);
  color: #333;
  box-shadow: 4px 4px 16px 0px var(--green);
  border-left: 5px solid var(--blue);
  border-radius: 4px;
  padding: 24px;
  max-width: 500px;
}
blockquote.quote footer {
  text-align: right;
  font-size: 0.8em;
  color: var(--red);
}

/* custom list */
.list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
  margin: 12px 0;
  padding: 0;
}

/* list items */
.list li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background-color: var(--foreground);
  border-radius: 6px;
  text-align: center;
}
.tech-list li {
  width: 80px;
}
.project-list li {
  width: 240px;
  outline: 2px solid var(--yellow);
  box-shadow: 4px 4px 16px 0px var(--red);
}

/* list elements */
.tech-list li p {
  font-weight: 500;
}
.tech-list li img {
  width: 100%;
  border-radius: 6px;
}
.project-list li h4 {
  margin-bottom: 12px;
}
.project-list li p {
  margin-bottom: 12px;
}

/* list interactions */
.list li:hover {
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 200ms;
}
.list li.javascript:hover {
  box-shadow: 8px 8px 24px 0px var(--javascript);
}
.list li.typescript:hover {
  box-shadow: 8px 8px 24px 0px var(--typescript);
}
.list li.node:hover {
  box-shadow: 8px 8px 24px 0px var(--node);
}
.list li.react:hover {
  box-shadow: 8px 8px 24px 0px var(--react);
}
.list li.html:hover {
  box-shadow: 8px 8px 24px 0px var(--html);
}
.list li.css:hover {
  box-shadow: 8px 8px 24px 0px var(--css);
}

/* media queries */
@media (max-width: 768px) {
  .project-list li {
    width: 100%;
  }
}
